.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 36px;
}

input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 16px;
  border: 1px solid #808080;
}

input:hover {
  border: 1px solid #000;
}

input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  background: #4e75ff;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background: #6c8cff;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

span.loader.hidden {
  display: none;
}
